<%- layout("layouts/boilerplate") -%>

<body>
  <h2 class="heading">Edit Listing</h2>
  <form
    method="post"
    action="/listings/<%=listing._id%>?_method=PUT"
    class="col-8 offset-2 needs-validation"
    enctype="multipart/form-data"
    novalidate
  >
    <div>
      <label class="form-label" for="listing[title]">Enter title: </label>
      <input
        class="form-control mb-1"
        name="listing[title]"
        value="<%=listing.title%>"
        required
      />
      <div class="invalid-feedback">Please enter the title</div>
      <br />
    </div>

    <div>
      <label class="form-label" for="listing[description]"
        >Enter description:
      </label>
      <textarea class="form-control mb-1" name="listing[description]" required>
<%=listing.description%></textarea
      >
      <div class="invalid-feedback">Please enter a description</div>
      <br />
    </div>

    <div>
  <label class="form-label" for="listing[category]">Category:</label>

  <select name="listing[category]" class="form-control mb-1" required>
    <option value="beaches" <%= listing.category === "beaches" ? "selected" : "" %>>Beaches</option>
    <option value="mountains" <%= listing.category === "mountains" ? "selected" : "" %>>Mountains</option>
    <option value="forest" <%= listing.category === "forest" ? "selected" : "" %>>Forest</option>
    <option value="camping" <%= listing.category === "camping" ? "selected" : "" %>>Camping</option>
    <option value="arctic" <%= listing.category === "arctic" ? "selected" : "" %>>Arctic</option>
    <option value="cities" <%= listing.category === "cities" ? "selected" : "" %>>Cities</option>
    <option value="castles" <%= listing.category === "castles" ? "selected" : "" %>>Castles</option>
    <option value="wellness" <%= listing.category === "wellness" ? "selected" : "" %>>Wellness</option>
    <option value="luxury" <%= listing.category === "luxury" ? "selected" : "" %>>Luxury</option>
  </select>

  <div class="invalid-feedback">Please select a category</div>
</div>

    <div class="mb-3">
      <p class="form-label">Original image</p>

      <img
        src="<%=originalImage%>"
        alt="<%=listing.title%> image"
        class="col-4"
      />
      <br />
    </div>

    <div>
      <label for="listing[image]" class="form-label">Upload New Image</label>
      <input class="form-control mb-1" type="file" name="listing[image]" />
    </div>

    <div>
      <label class="mt-3 form-label" for="listing[price]">Enter price: </label>
      <input
        class="form-control mb-1"
        name="listing[price]"
        type="number"
        value="<%=listing.price%>"
        required
      />
      <div class="invalid-feedback">Please enter the price</div>
      <br />
    </div>

    <div>
      <label class="form-label" for="listing[location]">Enter location: </label>
      <input
        class="form-control mb-1"
        name="listing[location]"
        value="<%=listing.location%>"
        required
      />
      <div class="invalid-feedback">Please enter the location</div>
      <br />
    </div>

    <div>
      <label class="form-label" for="listing[country]">Enter country: </label>
      <input
        class="form-control mb-1"
        name="listing[country]"
        value="<%=listing.country%>"
        required
      />
      <div class="invalid-feedback">Please enter the country</div>
      <br />
    </div>

    <br />
    <button class="btn btn-dark mb-5 save-changes offset-5">
      Save Changes
    </button>
  </form>
</body>
